<div class="flex h-screen bg-gray-950 text-white">
    <!--Sidebar-->
    <aside class="w-64 bg-gray-900 border-r border-gray-700 flex flex-col p-6">
        <!--Logo-->
        <div class="flex items-center gap-2 text-3xl font-bold mb-8">
            <span class="bg-violet-700 p-3 rounded"></span>
            <span>ToDo App</span>
        </div>
        <!--Filters-->
        <div class="">
            <form class="flex items-center">
                <label for="search" class="sr-only">Task Search</label>
                <input type="text" id="Search"
                    class="bg-gray-900 border border-gray-700 w-full rounded text-gray-900 text-sm"
                    placeholder="Search task...">
                <button type="submit"
                    class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-gray-900 bg-gray-600 rounded-lg border border-gray-700 hover:bg-gray-700">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            <div>
                <h3 class="text-gray-400 text-xs uppercase mb-3">Filters</h3>
                <app-task-filter />
            </div>

        </div>

        <!--bottom settings menu-->
        <div class="mt-auto mb-4">
            <button (click)="enable2FA()"
                class="flex items-center gap-2 w-full text-left p-2 rounded hover:bg-gray-700 text-gray-300">
                <i class="fa-solid fa-shield-halved"></i>
                Enable 2FA
            </button>

            <button (click)="logout()"
                class="flex items-center gap-2 w-full text-left p-2 rounded hover:bg-gray-700 text-red-400">
                <i class="fa-solid fa-right-from-bracket"></i>
                Cerrar Sesión
            </button>
        </div>


    </aside>

    <main class="flex-1 overflow-y-auto p-8">
        <app-task-form />
        <app-task-list />
    </main>
</div>